#navbar{color:blue;
    font-size: 50px;
    font-weight:bold;
    
    }
    body{font-family:Arial, sans serif;}
    .nav-link{color:red;
    font-size:30px;}
    
    #Physiological_needs  {color:purple;
    font-size: 40px;}
    
    #Safety_needs  {color:purple;
    font-size: 40px;}
    
    #Love_and_belongingness_needs{color:purple;
    font-size: 40px;}
    
    #Esteem_needs  {color:purple;
    font-size: 40px;}
    
    #Self-actualization_needs  {color:purple;
    font-size: 40px;}
    
    p{color:black;
    font-size:30px;}
    
    
    
    
    @media(max-height:600px;)
    {.main-section{font-size:7em;}
    }
    